lib/
bin/
build-qtcreator/
build/
msg_gen/
srv_gen/
cfg/cpp/
src/*/cfg/
src/*/msg/
cmake_install.cmake
_gtest*
docs/
doku/
*~
*.txt.user
*.o
*.pyc
*.cfgc
*.dox
calibration*.txt
__init__*
.metadata/
.settings/
.cproject
.project
.pydevproject
*.py
